.bg-original {
    // background-color: #7B3D0A;
    // background-color: #7e3e12;
    background-image: linear-gradient(#7e3e12, #ac6c48 38%, #7e3e12);
    color: #F5F5F5!important;
}

.btn-original {
    background-color: #9C4E0C;
    color: #FFFFFF!important;
    font-size: 16px!important;
}

.modal-btn-original {
    background-color: #9C4E0C;
    color: #FFFFFF!important;
}

.modal-btn-outline-original {
    color: #9C4E0C!important;
    background-color: transparent!important;
    border: 2px solid #9C4E0C!important;
}

.fa-original {
    color: #9C4E0C!important;
}